body{
    font-family: 'Libre Baskerville', serif;
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;   
}
h1{
    font-size:50px;
}
p{
    font-size:20px;
    color:orange;
}
#skip{
    color:tomato;
    font-size: 70px;
}
.food-factory{
    padding-left: 10% ;    
}
.food-factory img{
    width:90%;
    margin-right: 10%;
    padding-right: 10%;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.click{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    margin-left: 100px;
    margin-top: 300px;
    border-radius:50px;
    background-image: linear-gradient( red,yellow);
    font-weight: 800;
} 
#person{
    width: 70%;
}
.background{
    background-image:url(images/shapes/7.png);
    background-repeat:no-repeat;   
}
#center{
    text-align: center; 
}