body{
    font-family: 'Libre Baskerville', serif;
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;   
}
h1{
    font-size:50px;
}
p{
    font-size:30px;
    color:orange;
}
#skip{
    color:tomato;
    font-size: 70px;
}
.food-factory{
    padding-left: 10% ;    
}
.food-factory img{
    width:90%;
    margin-right: 10%;
    padding-right: 10%;
}
.section{
    display:flex;
}
.click{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    margin-left: 100px;
    border-radius:50px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 800;
}  